<!--Post DB값을 가지고 있는 @every_post 변수의 값을 사용자에게 보여줌-->
<!--수정과 삭제기능도 구현시켜 놨음, 해당 부분 잘 볼 것-->
<h1 style = "text-align:center">You did like this</h1>
<% @every_post.each do |p| %>
제목 : <%= p.DBtitle %> <br>
내용 : <%= p.DBcontent %> <br>
시간 : <%= p.created_at %><br>
<a href = "/update_view/<%= p.id %>">[Revise]</a>
<a href = "/destroy/<%= p.id %>">[Delete]</a>
<hr>
<% end %>
<h1 style = "text-align:center"><a href = "/">Go back</a></h1>